<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>login</title>
  <script src="http://7xsquz.com1.z0.glb.clouddn.com/jquery-1.9.1.min.js"></script>
</head>
<body>
  <form action="" id="login">
    <div><span>邮箱: </span><input type="text" id="email"></div>
    <div><span>密码: </span><input type="password" id="password"></div><br>
    <div><input type="submit" value="登录" style="cursor:pointer;"></div>
  </form>
  <script>
    $('#login').submit(function(){
      var email = $('#email').val();
      var password = $('#password').val();
      $.post(
        '/login',
        {
          email : email,
          password : password
        },
        function(data){
          if(data.code == 1){
            window.location.href = '/';
          }
        }
      )
      return false;
    })
  </script>
</body>
</html>